In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("mldata-1.csv")

In [5]:
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

### Replace

In [6]:
df["gender"] = df["gender"].replace("Male",1)
df["gender"] = df["gender"].replace("Female",0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

### Selection for input or output variable

In [7]:
X = df[["weight","gender"]]
y= df["likeness"]

In [8]:
X.head()

   weight  gender
0    76.0       1
1    70.0       1
2    80.0       1
3   102.0       1
4    67.0       1

In [9]:
y.head()

0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

### Machine Learning Algortihm

In [10]:
from sklearn.tree import DecisionTreeClassifier

### Create and fit our model

In [11]:
model = DecisionTreeClassifier().fit(X,y)

### Prediction

In [12]:
model.predict([[23,1]])

C:\Users\mian\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [13]:
# How to measure the accuracy of our model
# split data into test adn train (80/2)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train,x_test ,y_train, y_test =train_test_split (X,y ,test_size=0.2 ,random_state=0) # 80% training data,and 20% testing data

# create a model
model = DecisionTreeClassifier()
# Fitting a model
model.fit(x_train ,y_train) 

#Predicted_values
predicted_values = model.predict(x_test)
predicted_values

# Checking score
score = accuracy_score(y_test,predicted_values)
score

0.6122448979591837

### How to train and save  your model

In [14]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import joblib
model = DecisionTreeClassifier().fit(X, y)

joblib.dump(model,"foodie.joblib")

['foodie.joblib']

In [47]:
#  How to import /run a stored or saved model on our data?Assignment

In [62]:
# Graph
from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)
#graphic evaluation /look into what happened
tree.export_graphviz(model,
                    out_file="foodie.dot",
                    feature_names=["age","gender"],
                    class_names=sorted(y.unique()),
                    label="all",
                    rounded=True,
                    filled = True)